doctype html
html
	head
		title Home Page
		link(type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection")
		link(type="text/css" rel="stylesheet" href="static/css/home.css")
	body
		.img
			nav
				h2.brand-logo.center RadBlog
				
				ul.nav-mobile.left
					li
						a(href="/home") Home
					li
						a(href="/profile") Profile
				ul.nav-mobile.right
					li
						a(href="/") Log Out
			.container.intro
				if user
					p Hello #{user.username}, welcome to Radblog!
				else
					p Hello stranger
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non, sunt in culpa qui officia deserunt mollit anim id est laborum.

			.row
				.col.s12.m8.offset-m2
					form.card(action="/new-message" method="POST" class="form-msgpost")
						.card-image
							img(src="static/css/images/msgheader.jpg" alt="ocean")
							span.card-title
								.input-field.title
									label(for="title") Title
									input(name="title" id="newtitle" type="text" class="validate" required="" autocomplete="off")
						.card-content
							label(for="body") Body
								.input-field.body
									input(name="body" id="newbody" type="text" class="validate" required="" autocomplete="off")
						.card-action.center
							button.waves-effect.waves-light.btn-large.post(type="submit") POST

		.container
			.row
				.col.s12.m8.offset-m2
					each message in messages
						.card.msg
							.card-image
								img(src="static/css/images/msgheader.jpg" alt="ocean")
								span.card-title #{message.title}
							.card-content
								p #{message.body}
								span.right -#{user.username}
							ul.collapsible.center(data-collapsible="accordion")
								li
									.collapsible-header Show Comments
									.collapsible-body
										span #{comment}
										.divider
										form(action="/new-comment" method="POST")
											.input-field.comment
												input(name="comment" id="newcomment" type="text" class="validate" required="" autocomplete="off")
												button.waves-effect.waves-light.btn(type="submit") Comment






		script(type="text/javascript" src="static/js/jquery.min.js")
		script(type="text/javascript" src="static/js/materialize.min.js")
		script(type="text/javascript" src="static/js/custom.js")