doctype html
html
	head
		title Home Page
		link(type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection")
		link(type="text/css" rel="stylesheet" href="static/css/home.css")
	body
		.img
			nav.z-depth-4
				h2.brand-logo.center Message in a Bottle
				ul.nav-mobile.left
					li
						.shell
							a(href="/home") Home
					li
						.shell
							a(href="/profile") Profile
				ul.nav-mobile.right
					li
						.shell
							if user
								a(href="/?sessionend=true") Log Out
							else
								a(href="/?sessionend=true") Log In
			.bottle
			.container.intro
				if user
					.flow-text Hello #{user.username}, welcome to Message in a Bottle!
				else
					.flow-text Hello Anonymous, welcome to Message in a Bottle!
				p Here on this website you can post messages for people all over the world to find. Write about your day, a special experience, or anything else that may be on your mind. Who knows who will come across your words? Get started now and send off your message in a bottle!

			.row
				.col.s12.m8.offset-m2
					form.card.z-depth-4(action="/new-message" method="POST" class="form-msgpost")
						.card-image
							img(src="static/css/images/msgheader.jpg" alt="ocean")
							span.card-title
								.input-field.title
									label(for="title") Title
									input(name="title" id="newtitle" type="text" class="validate" required="" autocomplete="off")
						.card-content
							label(for="body") Body
								.input-field.body
									input(name="body" id="newbody" type="text" class="validate" required="" autocomplete="off")
						.card-action.center
							button.waves-effect.waves-light.btn-large.post(type="submit") Send your message off into the sea!

		.container
			.row
				.col.s12.m8.offset-m2
					each message in messages
						.card.msg.z-depth-4
							.card-image
								img(src="static/css/images/msgheader.jpg" alt="ocean")
								a.card-title(href="/singlepost/"+message.title) #{message.title}
							.card-content
								p #{message.body}
								if message.user
									span.right -#{message.user.username}
								else
									span.right -Anonymous
							ul.collapsible(data-collapsible="accordion")
								li
									.collapsible-header.center Show Comments
									.collapsible-body
										each comment in message.comments
											if comment.user
												p.commenter #{comment.user.username}: 
													span #{comment.comment}
												.divider
											else
												p.commenter Anonymous: 
													span #{comment.comment}
												.divider
										form.center(action="/new-comment" method="POST")
											.input-field.comment
												input(name="messageId" value=message.id hidden)
												input.center(name="comment" id="newcomment" type="text" class="validate" required="" autocomplete="off")
												button.waves-effect.waves-light.btn(type="submit") Comment








		script(type="text/javascript" src="static/js/jquery.min.js")
		script(type="text/javascript" src="static/js/materialize.min.js")
		script(type="text/javascript" src="static/js/custom.js")

