doctype html
html
	head
		title Profile Page
		link(type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection")
		link(type="text/css" rel="stylesheet" href="static/css/home.css")
	if user
		body(style="background-image: url('../static/css/images/profilebg.jpg')")
			nav.z-depth-4
				h2.brand-logo.center Message in a Bottle
				ul.nav-mobile.left
					li
						.shell
							a(href="/home") Home
					li
						.shell
							a(href="/profile") Profile
				ul.nav-mobile.right
					li
						.shell
							a(href="/?sessionend=true") Log Out
			.bottle
			.container
					h3.center #{user.username}
			.container
				.row
					.col.s12.m8.offset-m2
						each message in messages
							.card.msg.z-depth-4
								.card-image
									img(src="static/css/images/msgheader.jpg" alt="ocean")
									a.card-title(href="/singlepost/"+message.title) #{message.title}
								.card-content
									p #{message.body}
									if message.user
										span.right -#{message.user.username}
									else
										span.right -Anonymous
								ul.collapsible.center(data-collapsible="accordion")
									li
										.collapsible-header.center Show Comments
										.collapsible-body
											each comment in message.comments
												if comment.comment
													p #{comment.comment}
												else
													p No Comments
											form(action="/new-comment" method="POST")
												.input-field.comment
													input(name="messageId" value=message.id hidden)
													input(name="comment" id="newcomment" type="text" class="validate" required="" autocomplete="off")
													button.waves-effect.waves-light.btn(type="submit") Comment
	else
		body(style="background-image: url('../static/css/images/anonprofilebg.jpg')")
			nav.z-depth-4
					h2.brand-logo.center Message in a Bottle
					ul.nav-mobile.left
						li
							.shell
								a(href="/home") Home
						li
							.shell
								a(href="/profile") Profile
					ul.nav-mobile.right
						li
							.shell
								a(href="/?sessionend=true") Log In
			.bottle
			.container.anonprofile
				.flow-text Sorry, Anonymous users don't have profiles! Please 
					a(href="/") log in
					span  or 
						a(href="/") register
					span  to save a copy of every message you send out to sea.



		script(type="text/javascript" src="static/js/jquery.min.js")
		script(type="text/javascript" src="static/js/materialize.min.js")
		script(type="text/javascript" src="static/js/custom.js")