doctype html
html
	head
		title Showing Single Post
		link(type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection")
		link(type="text/css" rel="stylesheet" href="/static/css/home.css")
	body
		nav.z-depth-4
			h2.brand-logo.center Message in a Bottle
			ul.nav-mobile.left
					li
						.shell
							a(href="/home") Home
					li
						.shell
							a(href="/profile") Profile
			ul.nav-mobile.right
					li
						.shell
							if user
								a(href="/?sessionend=true") Log Out
							else
								a(href="/?sessionend=true") Log In
		.bottle
		.container
			.row
				.col.s12.m8.offset-m2
					.card.msg.z-depth-4
						.card-image
							img(src="/static/css/images/msgheader.jpg" alt="ocean")
							a.card-title(href="/singlepost/"+message.title) #{message.title}
						.card-content
							p #{message.body}
							if message.user
								span.right -#{message.user.username}
							else
								span.right -Anonymous
						ul.collapsible(data-collapsible="accordion")
							li
								.collapsible-header.center
									span.close Show Comments
									span.open Hide Comments
								.collapsible-body
									each comment in message.comments
										if comment.user
											p.commenter #{comment.user.username}: 
												span #{comment.comment}
											.divider
										else
											p.commenter Anonymous: 
												span #{comment.comment}
											.divider
									form(action="/new-comment" method="POST")
										.input-field.comment
											input(name="messageId" value=message.id hidden)
											input(name="comment" id="newcomment" type="text" class="validate" required="" autocomplete="off")
											button.waves-effect.waves-light.btn(type="submit") Comment



		script(type="text/javascript" src="/static/js/jquery.min.js")
		script(type="text/javascript" src="/static/js/materialize.min.js")
		script(type="text/javascript" src="/static/js/custom.js")